<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>WELCOME TO <%= title %></p>
    <a href="/users">Click here to retrieve data by using Promise</a> </br> </br>
    <a href="/users/obs">Click here to retrieve data by using Observable</a> </br> </br>
    <a href="/users/async">Click here to retrieve data by using Async and Await</a> 
  </body>
</html>
